In [4]:
#CREATE A TEXT FLIE CALLED MY_FILE.TXT WITH SOME CONTENT AND 
# CAPITALISE THE FIRST LETTER OF EVERY WORD PRINT CONTENT IN REVERSE ORDER
#LOGIC IS USE DEF, INPUT STRING THEN USE FILE OPEN WITH WRITE MODE
# FILE.WRTIE(STRING) THEN CLOSE FILE THEN DEF READ THEN WITH OPEN AS FILE:
#DATA=FILE.READ() CLOSE IT THEN  PRINT OC IE DATA, THEN MC THEN DATA.TITLE() THEN WRITE READ
def write():
    string=input("enter the paragraph")
    file =open('/Users/kruthinipun/Library/Mobile Documents/com~apple~CloudDocs/EL Report Format[PYTHON].docx','w')
    file.write(string)
    file.close()
def read():
    with open('/Users/kruthinipun/Library/Mobile Documents/com~apple~CloudDocs/EL Report Format[PYTHON].docx') as file:
        data=file.read()
    file.close()
    print('-------------------')
    print('original')
    print('--------------')
    print(data)
    print('-------------')
    print('modified content')
    print('-------------------')
    print(data.title())
    print('--------------------')
    print(data[::-1])
    print('--------------------')
write()
read()

-------------------
original
--------------
basketball
-------------
modified content
-------------------
Basketball
--------------------
llabteksab
--------------------

In [24]:
#IMPLEMENT SET AND TUPLE OPERATIONS CREATE EMPTY SET AND TUPLE
#RUN INFINITE while 1 LOOP FOR MENU CHOICE S OR T OR N TO TERM, IF CHOICE S WHILE 1 PRINT 5 OPTIONS
#IF,ELIF,ELIF,ELIF,ELIF,ELSE INVALID, THEN ELIF CHOICE T, SAME , THEN ELIF CHOICE N BREAK
setdata=set()
tupledata=tuple()
while 1:
  choice=input("choose s for set operations,choose t for tuple operations and choose n to terminate")
  if choice=='s':
    while 1:
      print("choose set operations")
      print("1:Add or insert")
      print("2:Delete or remove")
      print("3:append/update")
      print("4:view/display")
      print('0:to exit')
      operations=int(input())
      if operations==1:
        data=input("elements to add")
        setdata.add(data)
        print(setdata)
      elif operations==2:
         data=input('elements to delete')
         setdata.discard(data)
         print(setdata)
      elif operations==3:
         data=input('enter element to append')
         setdata.update(data)
         print(setdata)
      elif operations==4:
          print(setdata)
      elif operations==0:
         break
      else:
         print('invalid choice')
  elif choice=='t':
     while 1:
        print('choose the tuple operation')
        print('1:add/insert')
        print('2:delete tuple')
        print('3:display/view')
        print('0:exit')
        operations=int(input())
        if operations==1:
           data=input('enter the element to add')
           tupledata+=(data)
        elif operations==2:
           del tupledata
           print('tuple deleted')
        elif operations==3:
           print(tupledata)
        elif operations==0:
           break
        else:
           print('invalid')
  elif choice=='n':
     break

choose set operations
1:Add or insert
2:Delete or remove
3:append/update
4:view/display
0:to exit
set()
choose set operations
1:Add or insert
2:Delete or remove
3:append/update
4:view/display
0:to exit
{'hi,hello,me'}
choose set operations
1:Add or insert
2:Delete or remove
3:append/update
4:view/display
0:to exit
{'e', 'h', 'hi,hello,me', 'y'}
choose set operations
1:Add or insert
2:Delete or remove
3:append/update
4:view/display
0:to exit
{'h', '3', 'e', 'hi,hello,me', 'y'}
choose set operations
1:Add or insert
2:Delete or remove
3:append/update
4:view/display
0:to exit

ValueError: invalid literal for int() with base 10: ''

In [31]:
employee=dict()
while True:
    print('====employee database====')
    print('1 create\n 2 add \n 3 search \n 4 delete \5 display\n')
    print('==============')
    choice=int(input('enter the choice'))
    if choice==1:
        n=int(input('enter number of employees'))
        for i in range(n):
          print("===========")
          print("enter employee{0}".format(i+1))
          print("==============")
          empid=int(input('enter emp id'))
          empdetails=[]
          empname=input('name:')
          empdob=input("dob")
          designation=input("enter designation")
          empdetails.append(empname)
          empdetails.append(empdob)
          empdetails.append(designation)
          employee[empid]=empdetails
          print('============')
    elif choice==2:
       empid=int(input("enter the emp id to add"))
       empdetails=[]
       empname=input("name")
       empdob=input("dob")
       designation=input('enter designation')
       empdetails.append(empname)
       empdetails.append(empdob)
       empdetails.append(designation)
       employee[empid]=empdetails
       print('==============')
    elif choice==3:
       eids=int(input("enter id to search"))
       print(employee.get(eids))
    elif choice==4:
       eids=int(input("enter employee to delete"))
       print(employee.pop(eids))
    elif choice==5:
       status=bool(employee)
       if status==False:
          print('\n no employee found to print')
       else:
          print(employee)
    else:
       print('invalid')
       break

====employee database====
1 create
 2 add
 3 search
 4 delete  display

==============
===========
enter employee1
==============
============
===========
enter employee2
==============
============
====employee database====
1 create
 2 add
 3 search
 4 delete  display

==============
['kruthi', '17/12/2005', 'ceo']
====employee database====
1 create
 2 add
 3 search
 4 delete  display

==============
{201: ['kruthi', '17/12/2005', 'ceo'], 202: ['krishna', '12/12/2012', 'sde']}
====employee database====
1 create
 2 add
 3 search
 4 delete  display

==============

ValueError: invalid literal for int() with base 10: ''

In [35]:
#insert missing values meaning LIST
numbers=[]
n=int(input('enter the size of list'))
while True:
    if n>0:
        i=int(input('enter the elements to insert'))
        numbers.append(i)
        n=n-1
    else:
        break
print("list:",numbers)
while True:
    print("==========menu===============")
    print("1.insert at specific position \n 2.REMOVE VALUE FROM LIST \n 3.adding elements to list \n4.display list \n5. exit \n")
    choice=int(input("enter the choice"))
    if(choice==1):
        pos=int(input('enter the posn to insert'))
        item=int(input("enter item to insert at the given position"))
        numbers.insert(pos,item)
    elif (choice==2):
        pos=int(input("enter position to delete"))
        numbers.pop(pos)
    elif (choice==3):
        item=int(input("enter item to add"))
        numbers.append(item)
    elif (choice==4):
        print('\n======list content========')
        print(numbers)
    elif (choice==5):
        print("exiting.....")
        break

list: [1, 3]
==========menu===============
1.insert at specific position
 2.REMOVE VALUE FROM LIST
 3.adding elements to list
4.display list
5. exit


======list content========
[1, 3]
==========menu===============
1.insert at specific position
 2.REMOVE VALUE FROM LIST
 3.adding elements to list
4.display list
5. exit

exiting.....

In [42]:
#read para and count the no of words,frequency of words appearing and search for spec word
str='''NEW DEL IS THE CAPITAL OF INDIA, BLR IS THE CAPITAL OF KTAKA, KTAKA IS IN INDIA, INDIA IS WORLD'S LARGEST DEMOCRACY'''
print('entered paragraph\n'+str)
wordC=len(str.split())
print('total no of words',wordC)
counts=dict()
words=str.split()
for word in words:
    if word in counts:
        counts[word]= counts[word]+1
    else:
        counts[word]=1
for word in counts:
    print(word,counts[word])
searchWord=input("\nEnter the word to search: ")
result= str.find(searchWord)
if(result!= -1):
    print(searchWord+ "Word found in paragraph")
else:
    print(searchWord+ "!!!!!Word not found in paragraph")

entered paragraph
NEW DEL IS THE CAPITAL OF INDIA, BLR IS THE CAPITAL OF KTAKA, KTAKA IS IN INDIA, INDIA IS WORLD'S LARGEST DEMOCRACY
total no of words 22
NEW 1
DEL 1
IS 4
THE 2
CAPITAL 2
OF 2
INDIA, 2
BLR 1
KTAKA, 1
KTAKA 1
IN 1
INDIA 1
WORLD'S 1
LARGEST 1
DEMOCRACY 1
NEWWord found in paragraph

In [46]:
#golden ratio
n=int(input('enter the number of series'))
fiblist=[0,1]
for i in range(0,n):
    fiblist.append(fiblist[i]+fiblist[i+1])
    print('series are',fiblist)
gratio=[(fiblist[i]+float(fiblist[i-1])) for i in range(2,len(fiblist))]
print('gratio',gratio)

series are [0, 1, 1]
series are [0, 1, 1, 2]
series are [0, 1, 1, 2, 3]
series are [0, 1, 1, 2, 3, 5]
series are [0, 1, 1, 2, 3, 5, 8]
series are [0, 1, 1, 2, 3, 5, 8, 13]
series are [0, 1, 1, 2, 3, 5, 8, 13, 21]
gratio [2.0, 3.0, 5.0, 8.0, 13.0, 21.0, 34.0]

In [47]:
#largest prime factor
n=int(input('enter number'))
maxPrime=-1
while n%2==0:
    maxPrime=n
    n=n/2
    print("N:",n)
for i in range(3,int(n**0.5)+1,2):
    while n%i==0:
        maxPrime=i
        n=n/i
if n>2:
    maxPrime=n
print("max prime factor", int(maxPrime))

N: 39.0
max prime factor 13

In [49]:
#height of ball thrown basketball player
a=-16
b=int(input('enter velocity'))
pHT=float(input("enter player ht"))
t=float(-b/(2*a))
print('time',t,"sec")
h=(a*(t**2))+(b**t)
print("height is",h,"feet")
h=h+pHT
print("total height",h,"feet")

time 1.875 sec
height is 2101.6613260376507 feet
total height 2106.6613260376507 feet

In [51]:
#calendar print
import calendar
YEAR=int(input("enter the year"))
MONTH=int(input("enter month"))
print(calendar.month(YEAR,MONTH))

   December 2005
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [57]:
#print character from corresp ASCII VALUE
ASCII_VALUE=int(input("enter the ascii value"))
print("the character assoc with ascii value"+"str(ASCII_VALUE)"+'is',chr(ASCII_VALUE))

the character assoc with ascii valuestr(ASCII_VALUE)is A

In [58]:
#find ascii value of a given character
char=input('enter a character')
print('the ascii value'+ char+'is',ord(char))

the ascii valueuis 117